<link href="<?= z2.url ?>/css/chat.css" rel="stylesheet">
<script src="<?= z2.url ?>/js/jquery.validate.min.js"></script>
<script src="<?= z2.url ?>/js/dependencies/sails.io.js"></script>
<script type="text/javascript">
//20160512 zoearth 新增socket 同步資料功能
io.socket.on('newMsg', function (data) {
    var event = data;

    //event.guid  ID
    //event.msg  訊息
    //event.name  名稱

    var nowTime = new Date().toLocaleString();

    //重設HTML
    jQuery("li",jQuery(".msgTmpl")).removeClass("left").removeClass("right");
    jQuery(".chat-img",jQuery(".msgTmpl")).removeClass("pull-left").removeClass("pull-right");
    jQuery(".userNameImg",jQuery(".msgTmpl")).attr("src","");
    jQuery(".msgTime",jQuery(".msgTmpl")).html("");
    jQuery(".msgContent",jQuery(".msgTmpl")).html("");

    //自己的訊息
    if (event.guid == '<?= z2.getUserData(req).guid?>')
    {
        jQuery("li",jQuery(".msgTmpl")).addClass("right");
        jQuery(".chat-img",jQuery(".msgTmpl")).addClass("pull-right");
        jQuery(".userNameImg",jQuery(".msgTmpl")).attr("src","https://placeholdit.imgix.net/~text?txtsize=20&bg=55c1e7&txt="+event.name+"&w=50&h=50");
        jQuery(".msgTime",jQuery(".msgTmpl")).html(nowTime);
        jQuery(".msgContent",jQuery(".msgTmpl")).html(event.msg);

        jQuery(".chatDiv").append(jQuery(".msgTmpl").html());
    }
    //系統的訊息
    else if (event.guid == 0)
    {
        jQuery(".msgSysContent",jQuery(".msgSysTmpl")).html(event.msg);
        jQuery(".msgSysTime",jQuery(".msgSysTmpl")).html(nowTime);

        jQuery(".chatDiv").append(jQuery(".msgSysTmpl").html());
    }
    //別人的訊息
    else
    {
        jQuery("li",jQuery(".msgTmpl")).addClass("left");
        jQuery(".chat-img",jQuery(".msgTmpl")).addClass("pull-left");
        jQuery(".userNameImg",jQuery(".msgTmpl")).attr("src","https://placeholdit.imgix.net/~text?txtsize=20&bg=55FFAA&txt="+event.name+"&w=50&h=50");
        jQuery(".msgTime",jQuery(".msgTmpl")).html(nowTime);
        jQuery(".msgContent",jQuery(".msgTmpl")).html(event.msg);

        jQuery(".chatDiv").append(jQuery(".msgTmpl").html());
    }
    jQuery(".panel-body").animate({ scrollTop: jQuery(".chatDiv").height() }, 1000);
});
io.socket.get('<?= z2.url ?>/chat/socket/', function gotResponse(body, response) {
    console.log('連接到伺服器(<?= z2.url ?>/chat/socket/), status code: '+response.statusCode);
    //進入聊天室訊息
    io.socket.post('/chat/socketGetMsg/', { action:'intoRoom'}, function (resData, jwres) {
        console.log(resData);
        //jwRes.statusCode; // => 200
    });
});
//綁定送出按鈕
jQuery(document).ready(function() {
    jQuery("#msgForm").validate({
        submitHandler: function(form) {
            //送出訊息到socket
            var chatMsg = jQuery(".chatMsg").val();
            if (chatMsg == '' )
            {
                alert('請輸入訊息!');return false;
            }
            jQuery(".chatMsg").attr('disabled',true);
            io.socket.post('/chat/socketGetMsg/', {guid: <?= z2.getUserData(req).guid ?>,msg: chatMsg}, function (resData, jwres) {
                console.log(resData);
                jQuery(".chatMsg").val("");
                jQuery(".chatMsg").attr('disabled',false);
            });
            return false;
        }
    });
});
</script>

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
<span class="glyphicon glyphicon-comment"></span>阿任的聊天室
</div>
<div class="panel-body" style="height: 500px">
<ul class="chat chatDiv">
    <div class="msgSysTmpl" style="display: none" >
    <li class="left right clearfix" >
        <div class="chat-body clearfix">
            <strong class="primary-font msgSysContent"></strong>
            <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time msgSysTime"></span>
            </small>
        </div>
    </li>
    </div>

    <div class="msgTmpl" style="display: none" >
    <li class="left right clearfix" >
        <span class="chat-img pull-left pull-right">
        <img src="" class="img-circle userNameImg">
        </span>
        <div class="chat-body clearfix">
        <div class="header">
          <strong class="primary-font userName"></strong>
          <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time msgTime"></span>
          </small>
        </div>
        <p class="msgContent"></p>
        </div>
    </li>
    </div>

</ul>
</div>
<div class="panel-footer">
<form name="entryform" method="get" action="" id="msgForm">
<div class="input-group">
    <input id="btn-input" type="text" class="form-control input-sm chatMsg" placeholder="請輸入訊息">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-warning btn-sm sendChatMsg" id="btn-chat">送出</button>
    </span>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
