<div id="contactForm" >
<h1>聯絡我們表單</h1>
<form id="userForm" action="<?= z2.url+sails.getUrlFor('contactController.add') ?>">
    <div class="form-group">
        <label for="exampleInputEmail1">帳號</label>
        <input type="text" class="form-control required" name="username" value="<?= (userData.guid > 0 ? userData.username:'') ?>" placeholder="帳號" <?=(userData.guid > 0 ? 'disabled':'')?> >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">密碼</label>
        <input type="password" class="form-control <?=(userData.guid > 0 ? 'required':'') ?>" name="password" value="" placeholder="密碼" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">姓名</label>
        <input type="text" class="form-control required" name="name" value="<?= userData.name ?>" placeholder="姓名" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">性別</label>
        <input type="radio" name="gender" value="1" <?= (userData.gender != '2' ? 'checked':'') ?> required >:先生
        <input type="radio" name="gender" value="2" <?= (userData.gender == '2' ? 'checked':'') ?> required >:小姐
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">生日</label>
        <?
        var goDate = z2.moment(userData.birthday).format('Y-M-D');
        goDate = goDate.split('-');
        ?>
        <select name="birthday[year]" >
            <? for(var i=z2.dateYear; i>=1980; i--) {?>
               <option value="<?=i?>" <?= (parseInt(goDate[0]) == i ? 'selected':'') ?> ><?=i?></option>
            <? } ?>
        </select>
        <select name="birthday[month]" >
            <? for(var i=1; i<=12; i++) {?>
               <option value="<?=i?>" <?= (parseInt(goDate[1]) == i ? 'selected':'') ?> ><?=i?>月</option>
            <? } ?>
        </select>
        <select name="birthday[day]" >
            <? for(var i=1; i<=31; i++) {?>
               <option value="<?=i?>" <?= (parseInt(goDate[2]) == i ? 'selected':'') ?> ><?=i?>日</option>
            <? } ?>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">電話</label>
        <input type="text" class="form-control" name="tel" value="<?= userData.tel ?>" placeholder="電話" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">地址</label>
        <input type="text" class="form-control" name="address" value="<?= userData.address ?>" placeholder="地址" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">備註</label>
        <input type="text" class="form-control" name="note" value="<?= userData.note ?>" placeholder="備註" >
    </div>
    <? if (userData.guid > 0 ){ ?>
        <input type="hidden" name="guid" value="<?=userData.guid?>" >
        <button type="submit" class="btn btn-default">修改</button>
    <? }else{ ?>
        <button type="submit" class="btn btn-default">送出</button>
    <? }?>
</form>
</div>
