<script src="<?= z2.url ?>/js/jquery.validate.min.js"></script>
<script src="<?= z2.url ?>/js/dependencies/sails.io.js"></script>
<script type="text/javascript">
//20160512 zoearth 新增socket 同步資料功能
io.socket.on('changed', function (data) {
    var event = data;
    if (typeof event.action == 'undefined')
    {
        return false;
    }

    //更新資料或新增
    if (event.action == 'renew' && event.id > 0 )
    {
        //這邊直接讀取頁面資料更新
        jQuery.get('<?= z2.url ?>/contact', function(data) {
            //這邊沒有ID 卻有更新ID = 新增資料
            if (!(jQuery("#msg"+event.id).length > 0 ) && jQuery("#msg"+event.id,data).length > 0 )
            {
                var addTr = '<tr id="msg'+event.id+'" >'+jQuery("#msg"+event.id,data).html()+'</tr>';
                jQuery("#msgTbody").append(addTr);
            }
            //這邊有ID 有更新ID = 更新資料
            else if (jQuery("#msg"+event.id).length > 0 && jQuery("#msg"+event.id,data).length > 0 )
            {
                jQuery("#msg"+event.id).fadeOut("slow",function(){
                    jQuery("#msg"+event.id).html(jQuery("#msg"+event.id,data).html()).fadeIn("slow");
                });
            }
            bindListFuntion();
        });
    }
    else if (event.action == 'del' && event.id > 0 )
    {
        jQuery("#msg"+event.id).fadeOut("slow",function(){
            jQuery("#msg"+event.id).remove()
        });
    }
});
io.socket.get('<?= z2.url ?>/contact/socket/', function gotResponse(body, response) {
    console.log('連接到伺服器(<?= z2.url ?>/contact/socket/), status code: '+response.statusCode);
});
</script>
<h1>聯絡我們列表</h1>
<div class="row">
<a class="btn btn-primary showAddModal" href="javascript:void(0);" >新增</a>

<table class="table table-hover table-bordered">
<thead>
    <tr>
        <td>編號</td><td>帳號</td><td>姓名</td><td>生日</td><td>電話</td><td>地址</td><td>備註</td><td>修改</td><td></td>
    </tr>
</thead>
<tbody id="msgTbody">
    <? if (typeof userDatas != 'undefined'){?>
    <? for(var uid in userDatas) {?>
    <tr id="msg<?= userDatas[uid].guid ?>" >
        <td><?= userDatas[uid].guid ?></td>
        <td><?= userDatas[uid].username ?></td>
        <td><?= userDatas[uid].name+" "+(userDatas[uid].gender == '1' ? '先生':'小姐') ?></td>
        <td><?= z2.moment(userDatas[uid].birthday).format('Y年M月D日') ?></td>
        <td><?= userDatas[uid].tel ?></td>
        <td><?= userDatas[uid].address ?></td>
        <td><?= userDatas[uid].note ?></td>
        <td>
        <?
        var st = z2.moment().diff(userDatas[uid].updatedAt,'seconds');
        var it = z2.moment().diff(userDatas[uid].updatedAt,'minutes');
        var ht = z2.moment().diff(userDatas[uid].updatedAt,'hours');
        var dt = z2.moment().diff(userDatas[uid].updatedAt,'days');
        var wt = z2.moment().diff(userDatas[uid].updatedAt,'weeks');
        var mt = z2.moment().diff(userDatas[uid].updatedAt,'months');
        var yt = z2.moment().diff(userDatas[uid].updatedAt,'years');
        var timeS = '';
        if ( yt > 0){timeS = yt+'年';}
        else if ( mt > 0){timeS = mt+'月';}
        else if ( wt > 0){timeS = wt+'禮拜';}
        else if ( dt > 0){timeS = dt+'日';}
        else if ( ht > 0){timeS = ht+'小時';}
        else if ( it > 0){timeS = it+'分';}
        else if ( st > 0){timeS = st+'秒';}

        ?>
        <?=(timeS ? timeS+'前更新':'剛剛更新')?>
        </td>
        <td>
            <a class="btn btn-success showAddModal" data-guid="<?=userDatas[uid].guid ?>" href="javascript:void(0);" >修改</a>
            <a class="btn btn-success delUser" data-guid="<?=userDatas[uid].guid ?>" href="javascript:void(0);" >刪除</a>
        </td>
    </tr>
    <? } ?>
    <? } ?>
</tbody>
</table>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//綁定列表資料
function bindListFuntion()
{
    //刪除
    jQuery(".delUser").unbind().click(function(){
        var y = confirm("確定刪除?");
        if (y == true)
        {
            var guid = jQuery(this).data('guid');
            location = '<?= z2.url ?>/contact/delete/'+guid;
        }
        else
        {
            return false;
        }
    });
    //新增與修改
    jQuery(".showAddModal").unbind().click(function(){
        var guid = jQuery(this).data('guid');
        if (guid > 0)
        {
            var fUrl = '<?= z2.url ?>/contact/edit/'+guid;
        }
        else
        {
            var fUrl = '<?= sails.getUrlFor('contactController.form') ?>';
        }
        jQuery("#formModal .modal-body").load(fUrl+' #contactForm');
        jQuery("#formModal").modal('show');
        jQuery("#userForm").validate();
    });
}
jQuery(document).ready(function() {
    bindListFuntion();
});
</script>
