<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><?=typeof title == 'undefined' ? 'New Sails App' : title?></title>
    <link href="<?= z2.url ?>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?= z2.url ?>/css/shop-item.css" rel="stylesheet">
    <script src="<?= z2.url ?>/js/jquery.js"></script>
    <script src="<?= z2.url ?>/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?= z2.url ?>"><?=typeof title == 'undefined' ? 'New Sails App' : title?></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="<?= z2.url ?>/" class="<?=(req.url == '/' ? 'bg-info':'')?>" >首頁</a>
                </li>
                <li>
                    <a href="<?= z2.url ?>/contact/" class="<?=(req.url.match('/contact') ? 'bg-info':'')?>" >聯絡我們</a>
                </li>
                <li>
                    <a href="<?= z2.url ?>/chat/" class="<?=(req.url.match('/chat') ? 'bg-info':'')?>" >聊天室</a>
                </li>
                <li>
                    <a href="<?= z2.url ?>/users/" class="<?=(req.url.match('/users') ? 'bg-info':'')?>" ><?=(z2.isLogin(req) ? '登出':'登入')?></a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
        <? if (typeof message != 'undefined' && message != '' ){?>
        <div class="alert alert-info" role="alert"><?=message ?></div>
        <? } ?>
        <?- body ?>
        </div>
    </div>
    <div class="container">
        <hr>
        <footer>
            <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Zoearth <?=z2.dateYear?></p>
            </div>
            </div>
        </footer>
    </div>
</body>
</html>
