<div id="contactForm" >
<h1>會員登入</h1>
<form id="userForm" action="<?= z2.url+sails.getUrlFor('usersController.loginAction') ?>" method="post" >
    <div class="form-group">
        <label for="exampleInputEmail1">帳號</label>
        <input type="text" class="form-control required" name="username" value="" placeholder="帳號" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">密碼</label>
        <input type="password" class="form-control required" name="password" value="" placeholder="密碼" >
    </div>
    <button type="submit" class="btn btn-default">登入</button>
</form>
</div>
