<div id="contactForm" >
<h1>會員登入</h1>
<form id="userForm" action="<?= z2.url+sails.getUrlFor('usersController.logoutAction') ?>" method="post" >
    <button type="submit" class="btn btn-default">登出</button>
</form>
</div>
